@charset "UTF-8";
*{font-family: 'Hachi Maru Pop', cursive;}
body{
    height: 100vh;
    margin: 0;
    background:#f37208 
    left top repeat;
}
.Logo{
    text-align: center;
    max-width: 40%;
}
.shortcuticon{
    height: auto;
    width: auto
    ;

}
